<ul class="navbar-nav text-center mx-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_default')}}">Accueil</a>
    </li>
<li>
        <a class="nav-link" href="{{ path('Utilisateur_orientationpro')}}">Orientation Professionnelle</a>
</li>
<li>
        <a class="nav-link" href="{{ path('Utilisateur_insertionpro')}}">insertion Professionnelle</a>
</li>
<li>
        <a class="nav-link" href="{{ path('Utilisateur_metierstech')}}">Découvrir les métiers de la tech</a>
</li>
 <li>
        <a class="nav-link" href="{{ path('Avis_AffichageAvis')}}">Donner son avis</a>
</li>
{# <li>
        <a class="nav-link" href="">Sport</a>
</li> #}
</ul>
<div class="text-right">

    {% if app.user %}
        <span class="navbar-text mx-2">
            Bonjour 
        </span>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-item btn btn-outline-warning"
               href="{{ path('Admin_espaceAdmin')}}">Espace Admin</a>
        {% elseif is_granted('ROLE_CANDIDAT') %}
            <a class="nav-item btn btn-outline-warning"
               href="{{ path('Utilisateur_espaceCandidat')}}">Espace Candidat</a>
        {% elseif is_granted('ROLE_ENTREPRISE') %}
            <a class="nav-item btn btn-outline-warning"
               href="{{ path('Utilisateur_espaceEntreprise')}}">Espace Entreprise</a>
        {% endif %}

        <a class="nav-item btn btn-outline-info"
           href="{{ path('security_logout')}}">Déconnexion</a> 

    {% else %}

        <a class="nav-item btn btn-outline-warning"
           href="{{ path('Utilisateur_choixinscription')}}">Inscription</a> 

        <a class="nav-item btn btn-outline-info"
           href="{{ path('security_login')}}">Connexion</a>

    {% endif %}


</div>