{% extends 'base.html.twig' %}

{% block title %} Modifier mon profil {% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4 text-decoration-underline">
            Modifier mon profil
        </h1>
        <div class="card shadow p-4">
            {{ form_start(formmodifcandidat) }}

            {{ form_row(formmodifcandidat.sexe) }}
            {{ form_row(formmodifcandidat.nom) }}
            {{ form_row(formmodifcandidat.prenom) }}
            {{ form_row(formmodifcandidat.email) }}
            {{ form_row(formmodifcandidat.telephone) }}
            {{ form_row(formmodifcandidat.pays) }}
            {{ form_row(formmodifcandidat.ville) }}
            {{ form_row(formmodifcandidat.linkedin) }}
            {{ form_row(formmodifcandidat.description) }}
            {{ form_row(formmodifcandidat.datedenaissance) }}

            {% if app.user.cv %}
                <div class="mb-3">
                    <label class="form-label">Votre CV actuel :</label><br>
                    <a href="{{asset('uploads/cv/' ~ app.user.cv)}}" target="_blank">
                        {{ app.user.cv }}
                    </a>
                </div>
            {% endif %}
            {{ form_row(formmodifcandidat.cv) }}

            <h5 class="mt-3">Vos Besoins</h5>
            {{ form_row(formmodifcandidat.besoin) }}
            <h5 class="mt-3">Vos recherches</h5>
            {{ form_row(formmodifcandidat.recherche) }}

            <a href="{{path('Utilisateur_ProfilCandidat')}}" class="btn btn-secondary">
                Annuler
            </a>

            <button class="btn btn-success">
                Enregistrer les modifications
            </button>

            {{ form_end(formmodifcandidat) }}
        </div>
    </div>
{% endblock %}